Package: com.michaelmelita1.tapticcentre
Name: TapticCentre
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: Taptic Feedback when opening Control Centre
Maintainer: Michael Melita
Author: Michael Melita
Section: Tweaks
